<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form [formGroup]="form" class="login-form">
            <input type="text" formControlName="username" placeholder="username" />
            <input type="password" formControlName="password" placeholder="password" />
            <button type="submit" (click)="handleSubmit()">login</button>
        </form>
    </div>
</div>